img:hover {
  background-color: #08fdd8;
}

a {
  color: #f1f1f1;
  text-decoration: none;
  background-color: black;
  font-size: 22px;
  padding: 0 25px;
}
a:hover {
  color: #08fdd8;
}
.active {
  color: #08fdd8;
}
.right-aligned {
  justify-content: flex-end;
}
.bg-color {
  background-color: black !important;
}
