.about {
  margin-top: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}
.about_text {
  /* width: 45%; */
  text-align: justify;
  flex: 1;
}
.about_picture {
  /* width: 45%; */
  flex: 1;
}
.about_picture img {
  width: 40%;
  height: auto;
  border-radius: 8px;
}
