body {
  color: aliceblue;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
}
/* .navbar img:hover {
  background-color: #08fdd8;
}
ul {
  display: flex;
  list-style: none;
}
li {
  padding: 10px 25px;
}
li a {
  color: #f1f1f1;
  text-decoration: none;
}
li a:hover {
  color: #08fdd8;
}
.active {
  color: #08fdd8;
} */
