.projects {
  text-align: left;
  width: 80%;
  margin: auto;
  margin-top: 80px;
}
.project {
  margin-top: 30px;
  /* display: flex;
  justify-content: space-between; */
  height: 530px;
  width: 515px;
}

.project1 {
  color: none;
  /* outline: 2px solid #08fdd8; */
  box-shadow: #6fafa6 0px 20px 30px -10px;
  /* box-shadow: #6fafa6 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; */
  box-shadow: #6fafa6 1.95px 1.95px 2.6px;
  border-radius: 8px;
  padding: 16em;
  background-image: url(../../../public/HuddleMview.png),
    url(../../../public/HuddleDview.png);
  background-repeat: no-repeat;
  background-position: Bottom 0 right, left top;
  background-size: 50% 70%, 80% 80%;
  z-index: 0, 1;
}
.project1:hover {
  transform: scale(1.1);
  cursor: pointer;

  filter: blur(1px);
  -webkit-filter: blur(1px);
}

@media (max-width: 575px) {
  .project {
    display: inline-block;
    height: 400px;
  }
  .project1 {
    padding: 13em;
    /* background-color: #82bbb3; */
    box-shadow: #07c2a6 0px 5px 15px;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
  }
}
